<aside class="site-aside col-a-12 col-c-3">
    <h1 class="invisible">Classes</h1>

    {% if site.classes %}

        <ul class="aside-nav">

        {% for class in site.classes %}
            {% if class.title %}
                <li class="aside-nav__item {% if page.title == class.title %} active {% endif %}">
                    <a class="class-link" href="{{ class.url | prepend: site.baseurl }}">{{ class.title }}</a>
                </li>
            {% endif %}
        {% endfor %}

        </ul>

    {% endif %}

</aside>